* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    gap: 5px;
}

.options select {
    width: 15%;
}

.faq-container {
    width: 80%;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.faq-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
}

.faq-question p {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

.faq-answer {
    display: none;
    padding: 10px;
    font-size: 16px;
    color: #333;
    background: #f9f9f9;
    border-radius: 5px;
    text-align: start;
    cursor: pointer;

}

.toggle-icon {
    font-size: 20px;
    cursor: pointer;
}

@media (max-width: 890px) {
    .options select {
        width: 18%;
    }
    .faq-container
    {
        width: 87%;
    }
}
@media (max-width: 700px) {
    .faq-question p {
        font-size: 18px;
    }
    .faq-answer {
        font-size: 18px;
    }
    .options select {
        width: 24%;
    }
    .faq-container
    {
        width: 90%;
    }
}
@media (max-width: 500px) {
    .faq-question p {
        font-size: 14px;
    }
    .faq-answer {
        font-size: 14px;
    }
    .options select {
        width: 30%;
    }
    .faq-container
    {
        width: 95%;
    }
}