*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 95%;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}


form p {
    margin-bottom: 15px;
    width: 100%;
}


label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}


input, select, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 5px;
}


.cke,.cke_reset {
    width: 100% !important;
}



button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background: #0056b3;
}

@media (max-width: 480px) {
    form {
        width: 90%;
    }
}
